div.block
div.article#about
  a(href="#about")
    h2.title 關於我們
  p
    | SOSCET(Students' Open Source Community of Eastern Taiwan) 是由花蓮在地學生發起的資訊開源學生社群，目的是推動台灣東部的資訊及開源、凝聚東部熱愛資訊的夥伴、促進學生之間的合作以及資訊知識的分享與傳承。
div.block
div.article#events
  a(href="#events")
    h2.title#events 近期活動
  p
div.block
div.article#open-source
  a(href="#open-source")
    h2.title 什麼是開源？
  p
    | 開源的意思是開放原始碼，對程式開發者來說修改原始碼是件常見的事，而開發者願意與大眾分享原始碼，就好像街坊鄰居間食譜分享一樣，讓其他使用者觀摩學習，甚至加以修改，而很多開放原始碼的專案，本來是一個人默默的做著，但當有人看見你的案子，而且覺得這個點子很棒，他就會跳出來跟你一起合作。 而 Open Source 不只造福了開發者，更是對世界造成了很大的影響，網際網路的架構有很大一部分建立在 Open Source 軟體上，甚至現在很知名的手機作業系統「Android」也是開源軟體，更有開源的硬體——「Arduino」，即使不懂得編寫程式，也可以用 Arduino 做出很酷的東西。 開源早已不是程式人或使用者的事，它已經影響了整個社會，零時政府（g0v）打造了一個透明資訊的平台，促進了公民參與及雙向溝通，和開源的字典「萌典」； 各式各樣的開源應用程式，如：Firefox、VLC、GIMP，開源正在改變我們的生活！ 如果你贊同開源或愛好資訊，歡迎來和 SOSCET 聊聊！
div.block
