doctype html
html(lang="zh-Hant")
  head
    meta(charset="utf-8")
    title SOSCET | 東部開源學生社群
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="assets/css/main.css")
  body
    header
      div.title-group
        div.title.typewritter
          h1 東部開源學生社群
            small  SOSCET.
      div.nav
        div.nav-box
          img(src="../assets/img/xiaomi.png" id="xiaomi")
          div.balloon
            div.balloon-content 摸摸頭！
    div.content
      .container
        include article.pug

    footer
      div.buttom
        h6 Students' Open Source Community of Eastern Taiwan Present
        div.links
          a(href="https://www.facebook.com/soscet/") Facebook
          a(href="https://soscet-slack.herokuapp.com/") Slack
          a(href="https://soscet.network/") Mastodon
        div.contact
          | contact AT soscet.org

    script(type="text/javascript" src="assets/js/main.js")
